//importing less files

@import "footer";
@import "header";
@import "mixins";
@import "navigation";
@import "reset";
@import "variables";


body{
    margin: 0 5%;
    padding: 1%;
    // background-color: @body;
}

.mainContent{
    .whyBetter{
        margin: 5px;
        display: flex;
        h2{
            font-size: 1.3rem;
            text-align: center;
            text-decoration: underline;
        }

        h3{
            font-style:italic;
            font-size: 1.8rem;
            padding-bottom: 2%;
        }
        .reasonOne{
            text-align: center;
            margin: 5px;
            padding: 5px;
            font-size: 1.3rem;
            border: @dashed;
        }
        .reasonTwo{
            text-align: center;
            margin: 5px;
            padding: 5px;
            font-size: 1.3rem;
            border: @dashed;
        }
        .reasonThree{ 
            text-align: center;
            margin: 5px;
            padding: 5px;
            font-size: 1.3rem;
            border: @dashed;
        }

        @media @mobile { //media opens
            .whyBetter{
                display: flex;
                flex-wrap: wrap;
                width: 95%;
                margin: 5px;

            }
        } // media closes
    }

    .about{
        margin: 5px;
        display: flex;
        h2{
            font-size: 1.8rem;
            text-align: center;
            text-decoration: underline;
        }
        h3{
            font-size: 1.8rem;
        }
        i{
            // display: flex;
            // justify-content: center;
            margin: 10px;
            font-size: 20px;
            // text-align: center;
        }
        .personOne{
            margin: 5px;
            width: 25%;
            padding: 5px;
            font-size: 1.3rem;
            text-align: center;
            border: @dashed;
        }
        .personTwo{
            margin: 5px;
            width: 25%;
            padding: 5px;
            font-size: 1.3rem;
            text-align: center;
            border: @dashed;
        }
        .personThree{
            margin: 5px;
            width: 25%;
            padding: 5px;
            font-size: 1.3rem;
            text-align: center;
            border: @dashed;
        }
        .personFour{
            margin: 5px;
            width: 25%;
            padding: 5px;
            font-size: 1.3rem;
            text-align: center;
            border: @dashed;
        }
    }
}

.getStarted{
    margin: 5px;
    padding: 5px;
    font-size: 1.3rem;
    text-align: center;

    h2{
        padding-bottom: 5px;
    }

    p{
        padding-bottom: 10px;
    }

    button{
       border-radius: 12px;
       font-size: 1.1rem;
    }
}